.minesweeper section, .minesweeper div, .minesweeper button, .minesweeper :disabled {
  margin: 0;
  padding: 0;
  border: none;
  color: unset;
  background: unset;
  box-sizing: border-box;
  line-height: 1;
}
.minesweeper :disabled { pointer-events: none; }
.minesweeper { display: inline-block; }
.minesweeper .minefield { display: grid; }
.minesweeper .cell { position: relative; }
