.window {
  padding: 16px;
  background: #FFFFFF;
  box-shadow: 0 0 8px #00000066;
}

dialog.window::backdrop {
  background: #00000066;
}

.window>h1 {
  margin: -16px -16px 16px;
  padding: 8px 8px 6px;
  font: 1em sans-serif;
  position: relative;
  text-align: center;
  background: #EEEEEE;
  border-bottom: 1px solid #DDDDDD;
}
.window>menu {
  margin: -16px -16px 16px;
  background: #EEEEEE;
  border-bottom: 1px solid #DDDDDD;
}
.window>menu button {
  padding: 8px 16px;
  cursor: pointer;
}
.window>menu button:hover,
.window>menu button:active {
  background: #DDDDDD;
}



#settings form {
  font: 0.8em sans-serif;
  line-height: 1.3;
}

#settings fieldset {
  border: 2px solid #DDDDDD;
  padding: 16px;
  margin: 0 0 16px;
}

#settings fieldset legend {
  padding: 0 8px;
}

#settings fieldset > section,
#settings fieldset .presets {
  gap: 16px 32px;
}

#settings fieldset input[type="radio"] {
  margin-right: 10px;
}

#settings .custom-detail {
  margin: 10px 0 0 30px;
}

#settings .custom-detail label {
  margin-top: 5px;
}

#settings .custom-detail input {
  margin-left: 10px;
  width: 5em;
}

#settings button {
  padding: 8px 16px;
  border: 1px solid #808080;
  background: #EEEEEE;
  cursor: pointer;
}
#settings button[type="submit"] {
  background: #0066CC;
  color: #FFFFFF;
}

#settings button:focus, #settings button:hover {
  background: #F8F8F8;
}
#settings button[type="submit"]:focus, #settings button[type="submit"]:hover {
  background: #1188EE;
}

#settings button:active {
  box-shadow: inset 0 0 5px #00000033;
}

#settings menu {
  justify-content: flex-end;
}

#settings menu button {
  margin-left: 16px;
}


.minesweeper .hud {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.minesweeper .remaining { order: 1; }
.minesweeper .score { order: 3; }
.minesweeper .remaining,
.minesweeper .score {
  color: #CC0000;
  font: 1.8rem monospace;
  background: #EEEEEE;
  padding: 4px 0;
  width: 6rem;
  text-align: center;
}

.minesweeper .reset {
  order: 2;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  font-size: 2.6rem;
  text-shadow: 0 0 8px #00000033;
  line-height: 1;
  text-align: center;
  cursor: pointer;
}
.minesweeper .reset:active {
  transform: scale(0.9);
}
.minesweeper .reset::before { content: "\1F642"; }
.minesweeper.autoplay .reset::before { content: "\1F914"; }
.minesweeper.picking .reset::before { content: "\1F62F"; }
.minesweeper.over.success .reset::before { content: "\1F60E"; }
.minesweeper.over.failure .reset::before { content: "\1F480"; }

.minesweeper.over.success .reset, .minesweeper.over.failure .reset {
  animation: pulse 1.5s linear infinite;
}

@keyframes pulse {
  0% {
    animation-timing-function: ease-in;
    background: #FF660000;
    box-shadow: 0 0 0 -1px #FF660000;
  }

  40% {
    animation-timing-function: ease-out;
    background: #FF6600AA;
    box-shadow: 0 0 0 3px #FF6600AA;
  }

  90% {
    background: #FF660000;
    box-shadow: 0 0 0 8px #FF660000;
  }
}

.minesweeper .minefield {
  grid-auto-columns: 1.8rem;
  grid-auto-rows: 1.8rem;
  border-top: 1px solid #808080;
  border-left: 1px solid #808080;
}

.minesweeper .cell,
.minesweeper .cell.cleared {
  background: #c1e498;
  border-top: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  font: 1.3rem sans-serif;
  text-align: center;
}
.minesweeper .cell::after {
  position: absolute;
  top: 0.1em;
  left: 0;
  right: 0;
  text-align: center;
}
.minesweeper:not(.picking) .cell:focus-visible:not(:active) {
  filter: brightness(1.05);
}
.minesweeper:not(.picking) .cell:not(.flagged):not(.cleared):active,
.minesweeper.picking .cell:not(.flagged):not(.cleared):hover {
  background: #bacca5;
  border-color: transparent;
}
.minesweeper.over.success .cell.bomb::before,
.minesweeper .cell.flagged::before { content: "\2691"; color: #990033; }
.minesweeper.over.success .cell.bomb:not(.flagged)::before { opacity: 0.3; }
.minesweeper .cell.cleared:not(.bomb)::before { content: attr(data-count); }
.minesweeper .cell.cleared:not(.bomb)[data-count="0"]::before { display: none; }
.minesweeper .cell.cleared:not(.bomb)[data-count="1"] { color: #0000FF; }
.minesweeper .cell.cleared:not(.bomb)[data-count="2"] { color: #008000; }
.minesweeper .cell.cleared:not(.bomb)[data-count="3"] { color: #CC0000; }
.minesweeper .cell.cleared:not(.bomb)[data-count="4"] { color: #000080; }
.minesweeper .cell.cleared:not(.bomb)[data-count="5"] { color: #800000; }
.minesweeper .cell.cleared:not(.bomb)[data-count="6"] { color: #008080; }
.minesweeper .cell.cleared:not(.bomb)[data-count="7"] { color: #000000; }
.minesweeper .cell.cleared:not(.bomb)[data-count="8"] { color: #808080; }

.minesweeper .cell.cleared {
  border-top: none;
  border-left: none;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  background: #e4d1c7;
}

.minesweeper.over .cell.flagged:not(.bomb)::before {
  opacity: 0.6;
}
.minesweeper.over .cell.flagged:not(.bomb)::after {
  content: "\2715";
  color: red;
  text-shadow: 0 0 2px white;
}
.minesweeper.over .cell.flagged:not(.bomb)::before,
.minesweeper.over.failure .cell.bomb:not(.flagged)::before {
  content: "\1F4A3";
  line-height: 1.4;
  padding-left: 2px;
  text-shadow: 0 0 3px #FFFFFF;
}
.minesweeper.over .cell.bomb.cleared { background: red; }
.minesweeper.over .cell.bomb.cleared::after {
  content: "";
  top: 0;
  bottom: 0;
  padding-top: 0.1em;
  border-radius: 100%;
  backdrop-filter: blur(3px);
  box-shadow: inset 0 0 3px 1px white, 0 0 1px black;
  z-index: 2;
  animation: boom 0.8s ease-out both;
}

@keyframes boom {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(7);
    opacity: 0;
  }
}

.minesweeper.over.failure .minefield {
  animation: shake 0.25s linear both;
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(2px, -8px);
  }

  50% {
    transform: translate(-4px, 6px);
  }

  70% {
    transform: translate(6px, -2px);
  }

  80% {
    transform: translate(-4px, 2px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.minesweeper:not(.over) .cell.bomb {
  font-size: 0.5rem;
}
.minesweeper:not(.over) .cell.bomb::before {
  content: "\1F4A3";
  opacity: 0.3;
}
