#settings fieldset > section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#settings .presets {
  display: grid;
}

#settings label {
  display: flex;
  align-items: center;
}

#settings .custom-detail label {
  justify-content: space-between;
}

#settings menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
