#settings fieldset > section {
  display: grid;
  grid-auto-columns: 1fr;
}

#settings fieldset label {
  display: flex;
  align-items: center;
}

#settings .custom {
  grid-area: 1 / 2 / 5 / 2;
}

#settings .custom label:not(:first-child) {
  display: block;
  margin: 5px 0 0 30px;
}

#settings .custom label:not(:first-child) span {
  display: inline-block;
  min-width: 5em;
}

#settings menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
